body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.material-icons.white600 { color: #ffffff; }

.MuiTabs-root{
  color: #FB8C00;
}
.test{
  background-color: #FB8C00;
  border-top-left-radius: 15px;
  border-top-Right-radius: 15px;
}

.property-div{

  overflow : auto;
  border-color: #FB8C00;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  line-height: 1,5px;
  height: 390px;
  width: 100%;
};

.properties {

}

.content{
  float: left;
  /* margin-left: 20px; */
  margin-top: 1px;
  width: 50%;
  display: flex;
  justify-content: space-between;  
  font-size: 0.9rem;
  padding-left: 20px;
  padding-right: 20px;
};


.fab{
  border-radius: 100%;
  bottom: 25px;
  font-size: 20px;
  padding: 25px;
  right: 25px;
}

.btn-div{
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-top: 222px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-self: flex-end; */
  /* align-items: flex-end; */
  /* display: flex; */
  flex-direction: row;
}

.dale{
  overflow : scroll;
  border-radius: 100%;
  bottom: 25px;
}